anyio
asgiref
attrs
bcrypt
beautifulsoup4
certifi
cffi
chardet
charset-normalizer
chromedriver-autoinstaller
click
colorama
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
dnspython
googletrans
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
idna
joblib
nltk
outcome
packaging
pycparser
PyJWT
pymongo
PySocks
python-dotenv
pytz
regex
requests
rfc3986
selenium
sniffio
sortedcontainers
soupsieve
sqlparse
textblob
tqdm
trio
trio-websocket
tzdata
urllib3
wsproto
